@media (min-width: 300px) and (max-width: 425px)
    h2
        font-size: 18px
    h3
        font-size: 18px
    .animation
        &__start
            height: 380px
            width: 380px
            margin-left: auto   
            margin-right: auto
    .targetMain
        margin-left: 0px !important
        &__mob
            display: block
    .target
        &__btn
            width: 100%
    .target
        &__btn:hover
            transform: scale(1.03) !important
    .price
        &__item
            margin: 5px !important
        &__item ul>li
            font-size: 14px
    .btn__googleForm
        width: 90% !important
    footer
        padding-bottom: 30px
