.modal-content
    background: $modalBG
.btn-close
    color: $ellouH1
.target
    &__block
        background: linear-gradient(180deg, #237FC1 0%, #257B43 100%)
        border-radius: 10px
        padding: 15px
        transition: .3s
    &__block:hover
        transform: scale(1.05)
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2)
    &__block2
        background: linear-gradient(180deg, #E39B2D 0%, #A41AD5 100%)
    &__block3
        background: linear-gradient(180deg, #D52DE3 0%, #1AC9D5 100%)
    &__block4
        background: linear-gradient(180deg, #682DE3 0%, #1AD5B3 100%)
    &__close:hover
        background: $blue

label
    color: $mainBG
.form
    &__span
        font-size: 10px
        color: $grey
.price
    &__item
        color: $targetText
        border-radius: 10px
        background: $targetGrey
        padding: 20px
        margin: 15px
    &__item ul>li
        font-weight: 300
        padding-top: 12px
.btn__googleForm
    padding: 10px 30px
    font-size: 20px
    font-weight: 300
    background: $ellouH1
    color: $targetText
    width: 50%
    margin-left: auto
    margin-right: auto
    text-align: center
    border-radius: 15px
    transition: .3s
.btn__googleForm:hover
    transform: scale(1.05)
    background: $targetColor
    color: $targetText